<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/fa4d561a-0d5f-4f09-8ba6-302f0f4336fb/resourceGroups/nutritionist-group/providers/Microsoft.Web/sites/nutritionist-app</ResourceId>
    <ResourceGroup>nutritionist-group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://nutritionist-app-d5eseqbycheydeeu.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dcd93b63-5012-4850-b39c-90153fe29360</ProjectGuid>
    <PublishUrl>https://nutritionist-app-d5eseqbycheydeeu.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$nutritionist-app</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>