<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nutritionist</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Nutritionist.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm custom-navbar">
            <div class="container-fluid">
                <a class="navbar-brand text-uppercase fw-bold"
                   href="@Url.Action("Index","Home")">
                    NUTRITIONIST
                </a>

                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#mainNav"
                        aria-controls="mainNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="mainNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Početna</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Recipes" asp-action="Index">Recepti</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Newsletter" asp-action="Index">Newsletter</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="About" asp-action="Index">O nama</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Contact" asp-action="Index">Kontakt</a></li>
                    </ul>
                </div>

                <div class="d-flex align-items-center">
                    <a class="nav-link d-flex align-items-center"
                       asp-area="Identity"
                       asp-page="/Account/Login">
                        <i class="bi bi-box-arrow-in-right me-1"></i>Prijava
                    </a>
                    <a class="nav-link ms-3"
                       asp-controller="Identity" asp-action="Account/Profile">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Nutritionist - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
