@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about
        <a href="https://learn.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div> *@

<div class="text-center my-4">
  <img
    src="~/images/LandingPageNutritionist.png"
    asp-append-version="true"
    alt="Beautiful landscape"
    class="img-fluid w-75 rounded"
    style="max-height: 500px;"
  />

  <p class="text-center mt-5">
        Uravnotežena i zdrava ishrana pomoći će vam da se osjećate bolje i postignete svoje ciljeve.

  </p>

  <p class="text-center mt-2 fw-bold">
        Uključuje:
  </p>

    <p class="text-center mt-2">
        <span class="fw-bold">– Doručak:</span>
        Započnite dan punom energijom uz uravnotežen doručak! Svaki obrok je pažljivo osmišljen da vam pruži dugotrajnu energiju, fokus i snagu, bez osjećaja težine – idealno za početak produktivnog dana.
    </p>

    <p class="text-center mt-2">
        <span class="fw-bold">– Ručak:</span>
        Održavajte svoj fokus i energiju uz naše uravnotežene ručkove. Bogati proteinima i vlaknima, ovi obroci pružaju optimalnu podršku vašem tijelu, pomažući vam da ostanete aktivni i produktivni tijekom cijelog dana.
    </p>
    <p class="text-center mt-2">
        <span class="fw-bold">– Večera:</span>
        Uživajte u zdravoj i ukusnoj večeri koja savršeno završava dan. Naši recepti su puni nutrijenata, lagani i pomažu vam u oporavku te pripremi za izazove narednog dana.
    </p>
    <p class="text-center mt-2">
        <span class="fw-bold">– Smoothie:</span>
        Osvježite se uz naše smoothie napitke, savršene za brzu dozu energije i vitamina. Pripremljeni od svježeg voća, povrća i prirodnih sastojaka, pružaju ukusno osvježenje i pomažu u regeneraciji kako bi ste bili spremni za sve dnevne izazove.
    </p>
</div>
